<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
    href="#">Sweet shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item px-lg-4">
        <a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-uppercase text-expanded">All products
                <span class="sr-only">(current)</span>
              </a>
      </li>
      <li class="nav-item px-lg-4">
        <a [routerLink]="['/companies']" routerLinkActive="active" class="nav-link text-uppercase text-expanded">Companies</a>
      </li>
      <li class="nav-item px-lg-4">
        <a [routerLink]="['/statistic']" routerLinkActive="active" class="nav-link text-uppercase text-expanded">Statistic</a>
      </li>
       <li  *ngIf="!status" class="nav-item px-lg-4">
        <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link text-uppercase text-expanded">Login</a>
      </li>
      <!-- <li *ngIf="!status" class="nav-item px-lg-4">
        <a [routerLink]="['/facebookLogin']" routerLinkActive="active" class="nav-link text-uppercase text-expanded">Facebook login</a>
      </li> -->
        <li  *ngIf="!status" class="nav-item px-lg-4">
        <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link text-uppercase text-expanded">Register</a>
      </li>  
      <li  *ngIf="status"class="nav-item px-lg-4">
        <a (click)="logout()" routerLinkActive="active" class="nav-link text-uppercase text-expanded">Logoff</a>
      </li>
      <li  *ngIf="status"class="nav-item px-lg-4">
        <a class="nav-link text-uppercase text-expanded">Hello, Dear {{currentUser?.firstName}} {{currentUser?.lastName}}</a>
      </li>
    </ul>
  </div>
</nav>
