<form #newEventForm="ngForm" novalidate>
<div class="form-group" [ngClass]="{'error': newEventForm.controls.name?.invalid && newEventForm.controls.name?.touched}" >
	<label> Name </label>
	<em *ngIf="newEventForm.controls.name?.invalid && (newEventForm.controls.name?.touched)">Required</em>
	<input type="text" [(ngModel)]="product.name" name="name" required class="form-control" placeholder="product name..."/>
</div>
<div class="form-group" [ngClass]="{'error': newEventForm.controls.company?.invalid && newEventForm.controls.company?.touched}" >
	<label> Manufacturer </label>
	<em *ngIf="newEventForm.controls.company?.invalid && (newEventForm.controls.company?.touched)">Required</em>
	<input type="text" [(ngModel)]="product.company" name="company" required class="form-control" placeholder="product company..." />
</div>
<div class="form-group" [ngClass]="{'error':  newEventForm.controls.price?.invalid && newEventForm.controls.price?.touched}" >
	<label> Price </label>
	<em *ngIf="newEventForm.controls.price?.invalid && (newEventForm.controls.price?.touched)">Required</em>
	<input  type="number" [(ngModel)]="product.price" name="price" min="0" max="99" required class="form-control" placeholder="product price..." />
</div>
</form>