<div class="container">
    <h1 class="site-heading-upper text-primary mb-3">Shopping Cart</h1>
    <hr>
    <table class="table table-striped table-hover table-bordered products">
        <tbody>
            <tr>
                <th colspan="5"><span class="pull-right">Date - {{order?.date | date:'fullDate'}}</span></th>
            </tr>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Discount</th>
                <th>Manage</th>
            </tr>
            <tr *ngFor="let d of orderDetails">
                <td>{{d?.product?.name}}</td>
                <td class="fix-width"><input [(ngModel)]="d.quantity" type="number" class="form-control input-number" value="1" min="1" max="10"></td>
                <td>{{d?.price | currency: 'USD': true }}</td>
                <td>{{d?.discount | percent}}</td>
                <th class="buttons-basket">
                    <div class="center-block">
                        <button (click)="edit(d)"class="btn btn-primary"><i class="fa fa-edit"></i></button>
                        <button (click)="delete(d.orderDetailsId)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="4"><span class="pull-right">Total</span></th>
                <th>{{order?.sum | currency: 'USD': true }}</th>
            </tr>
            <tr>
                <td colspan="5"><a href="#" class="pull-right btn btn-danger">Checkout</a></td>
            </tr>
            <tr>
                <td colspan="5"> <button (click)="convert()" class="btn btn-primary">PDF</button></td>
            </tr>
        </tbody>
    </table>
<table id="basic-table" style="display: none;" class="table table-striped table-hover table-bordered products">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Discount</th>
        </tr>
        <tr *ngFor="let d of orderDetails">
            <td>{{d?.product?.name}}</td>
            <td>{{d?.quantity }}</td>
            <td>{{d?.price | currency: 'USD': true }}</td>
            <td>{{d?.discount | percent}}</td>
        </tr>
        <tr>
            <th colspan="4"><span class="pull-right">Total</span></th>
            <th>{{order?.sum | currency: 'USD': true }}</th>
        </tr>
    </thead>
</table>
</div>