<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <div class="well well-sm">
                        <h3><strong>Contact Us</strong></h3>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHeeldLZH5yuw79DwPiPYQHmWOofMPdZ8&q=Persha+Tsukernya+Slobozhanshchyny,Kharkiv+Ukraine"
                                width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>

                        <div class="col-md-5">
                            <h4><strong>Get in Touch</strong></h4>
                            <form #feedbackForm="ngForm"  (ngSubmit)="save(feedbackForm); feedbackForm.resetForm()" autocomplete="off"  novalidate>
                                <div class="form-group">
                                    <input type="text" class="form-control" required minlength="4" [(ngModel)]="feedback.name" name="name" #name="ngModel"
                                        placeholder="Name">
                                    <div *ngIf="name?.invalid && (name.dirty || name.touched || feedbackForm.submitted)" class="alert alert-danger">
                                        <div *ngIf="name?.errors.required">
                                            Name is required.
                                        </div>
                                        <div *ngIf="name?.errors.minlength">
                                            Name must be at least 4 characters long.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" required minlength="8" [(ngModel)]="feedback.eMail" name="eMail" #eMail="ngModel" placeholder="E-mail">
                                    <div *ngIf="eMail?.invalid && (eMail.dirty || eMail.touched || feedbackForm.submitted)" class="alert alert-danger">
                                        <div *ngIf="eMail?.errors.required">
                                            Email is required.
                                        </div>
                                        <div *ngIf="eMail?.errors.minlength">
                                            Email must be at least 8 characters long.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" required minlength="10" [(ngModel)]="feedback.phone" name="phone" #phone="ngModel" value="" placeholder="Phone">
                                    <div *ngIf="phone?.invalid && (phone.dirty || phone.touched || feedbackForm.submitted)" class="alert alert-danger">
                                        <div *ngIf="phone?.errors.required">
                                            Phone is required.
                                        </div>
                                        <div *ngIf="phone?.errors.minlength">
                                            Phone must be at least 10 characters long.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" [(ngModel)]="feedback.message" required  name="message" #message="ngModel" rows="3" placeholder="Message"></textarea>
                                     <div *ngIf="message?.invalid && (message.dirty || message.touched || feedbackForm.submitted)" class="alert alert-danger">
                                        <div *ngIf="message?.errors.required">
                                            Message is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="intro-button mx-auto">
                                    <button class="btn btn-primary btn-xs" type="submit" name="button">
                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>